In [1]:
# https://dplyr.tidyverse.org/reference/distinct.html
%run nb_helpers.py
from datar.data import starwars
from datar.all import *

nb_header(distinct, n_distinct, book='distinct')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ distinct</div>

##### Filter a data frame based on conditions

The original API:
https://dplyr.tidyverse.org/reference/distinct.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`*args`: Variables to filter by.
&emsp;&emsp;`keep_all`: If `True`, keep all rows that match.
&emsp;&emsp;`_preserve`: If `True`, keep grouping variables even if they are not used.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ n_distinct</div>

##### Count the number of distinct values

The original API:
https://dplyr.tidyverse.org/reference/distinct.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`na_rm`: If `True`, remove missing values before counting.

##### Returns:
&emsp;&emsp;The number of distinct values

In [2]:
df = tibble(
  x=sample(range(10), 100, replace=True),
  y=sample(range(10), 100, replace=True)
)
nrow(df)

100

In [3]:
nrow(distinct(df))

59

In [4]:
df >> distinct(f.x, f.y) >> nrow()

59

In [5]:
df >> distinct(f.x)

         x
   <int64>
0        4
1        6
2        1
3        8
4        5
6        9
14       2
19       7
22       0
38       3

In [6]:
df >> distinct(f.y)

         y
   <int64>
0        4
1        3
2        1
3        7
4        8
6        6
10       9
13       0
16       5
18       2

In [7]:
df >> distinct(f.x, _keep_all=True)

         x       y
   <int64> <int64>
0        4       4
1        6       3
2        1       1
3        8       7
4        5       8
6        9       6
14       2       0
19       7       8
22       0       6
38       3       0

In [8]:
df >> distinct(f.y, _keep_all=True)

         x       y
   <int64> <int64>
0        4       4
1        6       3
2        1       1
3        8       7
4        5       8
6        9       6
10       1       9
13       6       0
16       4       5
18       6       2

In [9]:
df >> distinct(diff=abs(f.x-f.y))

      diff
   <int64>
0        0
1        3
3        1
8        5
10       8
13       6
14       2
18       4
36       7
89       9

In [10]:
starwars >> distinct(across(contains("color")))

   hair_color   skin_color eye_color
     <object>     <object>  <object>
0       blond         fair      blue
1         NaN         gold    yellow
2         NaN  white, blue       red
3        none        white    yellow
..        ...          ...       ...
4       brown        light     brown
79       none         pale     white
81      black         dark      dark
82      brown        light     hazel
84       none         none     black
85    unknown      unknown   unknown

[67 rows x 3 columns]

In [11]:
df = tibble(
  g=[1, 1, 2, 2],
  x=[1, 1, 2, 1]
) >> group_by(f.g)

df >> distinct(f.x)

        g       x
  <int64> <int64>
0       1       1
2       2       2
[TibbleGrouped: g (n=2)]