In [1]:
# https://dplyr.tidyverse.org/reference/filter-joins.html
%run nb_helpers.py

from datar.data import band_members, band_instruments
from datar.all import *

nb_header(semi_join, anti_join, book='filter-joins')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ semi_join</div>

##### Semi join two data frames by matching rows.

The original API:
https://dplyr.tidyverse.org/reference/join.html

##### Args:
&emsp;&emsp;`x`: A data frame
&emsp;&emsp;`y`: A data frame
&emsp;&emsp;`by`: A list of column names to join by.
&emsp;&emsp;&emsp;&emsp;If None, use the intersection of the columns of x and y.

&emsp;&emsp;`copy`: If True, always copy the data.

##### Returns:
&emsp;&emsp;A data frame

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ anti_join</div>

##### Anti join two data frames by matching rows.

The original API:
https://dplyr.tidyverse.org/reference/join.html

##### Args:
&emsp;&emsp;`x`: A data frame
&emsp;&emsp;`y`: A data frame
&emsp;&emsp;`by`: A list of column names to join by.
&emsp;&emsp;&emsp;&emsp;If None, use the intersection of the columns of x and y.

&emsp;&emsp;`copy`: If True, always copy the data.

##### Returns:
&emsp;&emsp;A data frame

In [2]:
band_members

      name     band
  <object> <object>
0     Mick   Stones
1     John  Beatles
2     Paul  Beatles

In [3]:
band_instruments

      name    plays
  <object> <object>
0     John   guitar
1     Paul     bass
2    Keith   guitar

In [4]:
band_members >> semi_join(band_instruments)

      name     band
  <object> <object>
1     John  Beatles
2     Paul  Beatles

In [5]:
band_members >> anti_join(band_instruments, by={'name': 'name'})

      name     band
  <object> <object>
0     Mick   Stones