In [2]:
# https://dplyr.tidyverse.org/reference/group_map.html
%run nb_helpers.py

from datar.data import mtcars, iris
from datar.all import *

nb_header(group_map)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… group_map</div>

##### Apply a function to each group

The original API:
https://dplyr.tidyverse.org/reference/group_map.html

##### Args:
&emsp;&emsp;`_data`: A grouped frame
&emsp;&emsp;`_f`: A function to apply to each group.
&emsp;&emsp;`*args`: Additional arguments to pass to `func`.
&emsp;&emsp;`_keep`: If `True`, keep the grouping variables in the output.
&emsp;&emsp;`**kwargs`: Additional keyword arguments to pass to `func`.

##### Returns:
&emsp;&emsp;A list of results

In [3]:
list(
  mtcars >> \
  group_by(f.cyl) >> \
  group_map(lambda df: df >> head(2))
)

[        mpg      disp      hp      drat  ...      vs      am    gear    carb
   <float64> <float64> <int64> <float64>  ... <int64> <int64> <int64> <int64>
 0      21.0     160.0     110       3.9  ...       0       1       4       4
 1      21.0     160.0     110       3.9            0       1       4       4

 [2 rows x 10 columns],
         mpg      disp      hp      drat  ...      vs      am    gear    carb
   <float64> <float64> <int64> <float64>  ... <int64> <int64> <int64> <int64>
 0      22.8     108.0      93      3.85  ...       1       1       4       1
 1      24.4     146.7      62      3.69            1       0       4       2

 [2 rows x 10 columns],
         mpg      disp      hp      drat  ...      vs      am    gear    carb
   <float64> <float64> <int64> <float64>  ... <int64> <int64> <int64> <int64>
 0      18.7     360.0     175      3.15  ...       0       0       3       2
 1      14.3     360.0     245      3.21            0       0       3       4

 [2 rows x 10 columns]]

In [4]:

mtcars >> \
  group_by(f.cyl) >> \
  group_modify(lambda df: df >> head(2))

      cyl       mpg      disp      hp  ...      vs      am    gear    carb
  <int64> <float64> <float64> <int64>  ... <int64> <int64> <int64> <int64>
0       6      21.0     160.0     110  ...       0       1       4       4
1       6      21.0     160.0     110  ...       0       1       4       4
0       4      22.8     108.0      93  ...       1       1       4       1
1       4      24.4     146.7      62  ...       1       0       4       2
0       8      18.7     360.0     175  ...       0       0       3       2
1       8      14.3     360.0     245            0       0       3       4

[6 rows x 11 columns]
[TibbleGrouped: cyl (n=3)]

In [5]:
list(
  iris >> \
  group_by(f.Species) >> \
  group_map(lambda df: quantile(df['Petal_Length'], probs=c(0.25, 0.5, 0.75)))
)

[array([1.4  , 1.5  , 1.575]),
 array([4.  , 4.35, 4.6 ]),
 array([5.1  , 5.55 , 5.875])]

In [6]:
iris >> \
  group_by(f.Species) >> \
  group_walk(lambda df: print(df.shape))

(50, 4)
(50, 4)
(50, 4)

In [7]:
mtcars >> \
  group_modify(lambda df: df >> head(2))

                    mpg     cyl      disp  ...      am    gear    carb
              <float64> <int64> <float64>  ... <int64> <int64> <int64>
Mazda RX4          21.0       6     160.0  ...       1       4       4
Mazda RX4 Wag      21.0       6     160.0            1       4       4

[2 rows x 11 columns]