In [1]:
# https://dplyr.tidyverse.org/reference/with_groups.html
%run nb_helpers.py

from datar.all import *

nb_header(with_groups)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… with_groups</div>

##### Modify the grouping variables for a single operation.

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`_groups`: columns passed by group_by
&emsp;&emsp;&emsp;&emsp;Use None to temporarily ungroup.

&emsp;&emsp;`_func`: Function to apply to regrouped data.

##### Returns:
&emsp;&emsp;The new data frame with operations applied.

In [2]:
df = tibble(g=c(1, 1, 2, 2, 3), x=runif(5))
df >> with_groups(f.g, mutate, x_mean = mean(f.x))

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.244611  0.525006
1       1  0.805402  0.525006
2       2  0.862707  0.829213
3       2  0.795719  0.829213
4       3  0.812910  0.812910
[TibbleGrouped: g (n=3)]

In [3]:
df >> with_groups(f.g, lambda df: df >> mutate(x1 = first(f.x)))

        g         x        x1
  <int64> <float64> <float64>
0       1  0.244611  0.244611
1       1  0.805402  0.244611
2       2  0.862707  0.862707
3       2  0.795719  0.862707
4       3  0.812910  0.812910
[TibbleGrouped: g (n=3)]

In [4]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, x_mean = mean(f.x))

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.244611   0.70427
1       1  0.805402   0.70427
2       2  0.862707   0.70427
3       2  0.795719   0.70427
4       3  0.812910   0.70427

In [5]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, g=None)

          x
  <float64>
0  0.244611
1  0.805402
2  0.862707
3  0.795719
4  0.812910